In [17]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
raw_data = pd.read_excel('retail.xlsx')
print("原始数据集大小：", raw_data.shape)
missing_values_count = raw_data.isnull().sum()
print("每个属性的缺失值数量：")
print(missing_values_count)
data_dropped_na = raw_data.dropna()
print("丢弃缺失值后的数据集大小：", data_dropped_na.shape)

原始数据集大小： (525461, 8)
每个属性的缺失值数量：
Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64
丢弃缺失值后的数据集大小： (417534, 8)

In [3]:
data_dedupt = data_dropped_na.drop_duplicates()
print(data_dedupt.shape)

(410763, 8)

In [4]:
unique_desc_per_stock = data_dedupt.groupby('StockCode')['Description'].nunique()
multi_product_stock_codes = unique_desc_per_stock[unique_desc_per_stock > 1].index.tolist()
data_no_multi_product = data_dedupt[~data_dedupt['StockCode'].isin(multi_product_stock_codes)]
print("删除多种产品后的数据集大小：", data_no_multi_product.shape)

删除多种产品后的数据集大小： (322854, 8)

In [5]:
data_no_multi_product['Invoice'] = data_no_multi_product['Invoice'].astype(str)
data_no_multi_product['StockCode'] = data_no_multi_product['StockCode'].astype(str)
data_dropped_cancelled = data_no_multi_product[data_no_multi_product['Invoice'].str.startswith('C') == False]
data_dropped_post = data_dropped_cancelled[data_dropped_cancelled['StockCode'] != 'POST']

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_1432\3805971389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_multi_product['Invoice'] = data_no_multi_product['Invoice'].astype(str)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_1432\3805971389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_multi_product['StockCode'] = data_no_multi_product['StockCode'].astype(str)

In [6]:
data_dropped_post.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom

In [7]:
print(data_dropped_post.shape)

(314342, 8)

In [11]:
# data_dropped_post.to_excel('dataPreprocessed.xlsx', index=False)
grouped = data_dropped_post.groupby('Invoice')
unique_products = data_dropped_post['StockCode'].unique().tolist()
product_index_dict = {product: index for index, product in enumerate(unique_products)}

transaction_list = []

for name, group in grouped:
    transaction = [0] * len(unique_products)
    for index, row in group.iterrows():
        product_index = product_index_dict[row['StockCode']]
        transaction[product_index] = 1
    transaction_list.append(transaction)

transaction_df = pd.DataFrame(transaction_list, columns=unique_products)

In [22]:
del raw_data, missing_values_count, data_dropped_na, data_dedupt, unique_desc_per_stock, multi_product_stock_codes, data_no_multi_product, data_dropped_cancelled, data_dropped_post

In [28]:
# transaction_df.head()
frequent_itemsets = apriori(transaction_df, min_support=0.02, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='support', min_threshold=0.01)
top_rules = rules.sort_values(by='support', ascending=False).head(5)
print(top_rules)

C:\Users\HUAWEI\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   antecedents consequents  antecedent support  consequent support   support  \
10    (85123A)     (21733)            0.161464            0.053127  0.038589
11     (21733)    (85123A)            0.053127            0.161464  0.038589
0      (21232)     (21231)            0.071352            0.043185  0.033244
1      (21231)     (21232)            0.043185            0.071352  0.033244
21     (82482)    (82494L)            0.043720            0.053928  0.029610

    confidence       lift  leverage  conviction  zhangs_metric
10    0.238994   4.498564  0.030011    1.244239       0.927458
11    0.726358   4.498564  0.030011    3.064354       0.821342
0     0.465918  10.788760  0.030163    1.791511       0.977024
1     0.769802  10.788760  0.030163    4.034126       0.948262
21    0.677262  12.558538  0.027252    2.931389       0.962451