In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_excel('data/retail.xlsx')
print("原始数据集大小：", raw_data.shape)
missing_values_count = raw_data.isnull().sum()
print("每个属性的缺失值数量：")
print(missing_values_count)
data_dropped_na = raw_data.dropna()
print("丢弃缺失值后的数据集大小：", data_dropped_na.shape)

原始数据集大小： (525461, 8)
每个属性的缺失值数量：
Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64
丢弃缺失值后的数据集大小： (417534, 8)

In [3]:
data_dedupt = data_dropped_na.drop_duplicates()
print(data_dedupt.shape)

(410763, 8)

In [4]:
unique_desc_per_stock = data_dedupt.groupby('StockCode')['Description'].nunique()
multi_product_stock_codes = unique_desc_per_stock[unique_desc_per_stock > 1].index.tolist()
data_no_multi_product = data_dedupt[~data_dedupt['StockCode'].isin(multi_product_stock_codes)]
print("删除多种产品后的数据集大小：", data_no_multi_product.shape)

删除多种产品后的数据集大小： (322854, 8)

In [5]:
data_no_multi_product['Invoice'] = data_no_multi_product['Invoice'].astype(str)
data_no_multi_product['StockCode'] = data_no_multi_product['StockCode'].astype(str)
data_dropped_cancelled = data_no_multi_product[data_no_multi_product['Invoice'].str.startswith('C') == False]
data_dropped_post = data_dropped_cancelled[data_dropped_cancelled['StockCode'] != 'POST']

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_3324\3805971389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_multi_product['Invoice'] = data_no_multi_product['Invoice'].astype(str)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_3324\3805971389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_multi_product['StockCode'] = data_no_multi_product['StockCode'].astype(str)

In [6]:
data_dropped_post.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom

In [7]:
print(data_dropped_post.shape)

(314342, 8)

In [8]:
data_dropped_post.to_excel('data/dataPreprocessed.xlsx', index=False)